In [1]:
import json

with open('config.json', 'r') as f:
    config = json.load(f)

In [2]:
from utils.custom_treat_data_funcs import read_all_csvs_into_pandas

In [3]:
dtype_df_train = {
"userId" : 'string',
"userType" : 'category',
"historySize" : 'UInt16',
"history" : 'string',
"timestampHistory" : 'string',
"numberOfClicksHistory" : 'string',
"timeOnPageHistory" : 'string',
"scrollPercentageHistory" : 'string',
"pageVisitsCountHistory" : 'string',
"timestampHistory_new" : 'string'
}

In [4]:
df_train = read_all_csvs_into_pandas(config["FPATH_TRAIN"], dtype=dtype_df_train)

In [5]:
df_train

,userId,userType,historySize,history,timestampHistory,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,timestampHistory_new
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,Non-Logged,2,"80aa7bb2-adce-4a55-9711-912c407927a1, d9e5f15d...","1657908085200, 1659634203762","0, 0","71998, 115232","81.58, 73.36","1, 1","1657908085200, 1659634203762"
1,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,Non-Logged,2,"19ba89fc-1e06-4c5d-9c57-4a3088dc0511, e273dba4...","1657111508570, 1657481309920","68, 12","131495, 43733","51.74, 35.49","1, 1","1657111508570, 1657481309920"
2,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,Non-Logged,2,"59a61a8a-cc52-453f-b1cd-2bd019e9d574, a0562805...","1657823890328, 1660141444328","55, 9","159042, 10336","62.19, 48.28","1, 1","1657823890328, 1660141444328"
3,2dd18b58a634a4e77181a202cf152df6169dfb3e4230ef...,Non-Logged,2,"233f8238-2ce0-470f-a9d5-0e0ac530382a, 037155f4...","1656963373076, 1657091888917","0, 0","193579, 20519","31.03, 31.9","1, 1","1656963373076, 1657091888917"
4,97e1439d485b0630e12818d3df84ff67d08475ef6ebeb0...,Logged,2,"385044ad-3876-4188-83fa-f560435c1a9c, 2f754502...","1657618607633, 1659536839832","57, 38","220000, 130000","52.65, 53.37","1, 1","1657618607633, 1659536839832"
...,...,...,...,...,...,...,...,...,...,...
577937,2577444c60e7e1894b120b966031b66c08f696101a085f...,Non-Logged,4,"82206221-05a0-4f89-aa10-e8c8dc0cc418, bfb94228...","1656864715643, 1658103612200, 1659107526581, 1...","36, 50, 1, 7","20000, 74626, 10000, 10000","40.53, 45.76, 11.34, 18.25","1, 2, 1, 1","1656864715643, 1658103612200, 1659107526581, 1..."
577938,4325f2bbeed10d10868190e2f66e700621c04b63eebefd...,Non-Logged,2,"34a692f5-46f7-482a-918d-c1094fb314d5, 2bdb2c3c...","1657392105652, 1657659516405","28, 1","74694, 7149","12.42, 7.45","6, 1","1657392105652, 1657659516405"
577939,0ca60effb4a0f595cf838c95a4d3a417f02bb7edeaf659...,Non-Logged,4,"08126a08-b06e-4dc2-9c70-26922c14f465, ad0b3a0f...","1660154775574, 1660160541327, 1660160550596, 1...","2, 2, 7, 1","54143, 7915, 37776, 18911","33.27, 33.7, 50.1, 14.95","2, 1, 1, 1","1660154775574, 1660160541327, 1660160550596, 1..."
577940,c07adf21d372ebc50752555fdfbc949e164d98d06d094f...,Logged,14,"bc625312-eb34-4f23-a281-499f1da183b4, cee20002...","1657201926509, 1657202207327, 1657541602224, 1...","1, 0, 3, 0, 0, 0, 0, 1, 6, 0, 1, 8, 25, 6","50000, 71013, 160000, 40000, 68795, 20008, 472...","50.45, 50.45, 49.19, 32.09, 14.15, 26.19, 25.6...","1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1","1657201926509, 1657202207327, 1657541602224, 1..."
577941,5889d6ebbf62e6c115e0a280063dc8189cca490cbfea56...,Non-Logged,13,"1f32787b-de2b-49be-8c20-ddaeae34cc22, a36c98b5...","1656781278064, 1656867878637, 1656936160322, 1...","23, 16, 36, 13, 56, 23, 1, 33, 64, 76, 14, 26, 44","140000, 110000, 170000, 66541, 250000, 90000, ...","92.61, 34.37, 53.41, 31.74, 99.36, 84.68, 32.9...","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1","1656781278064, 1656867878637, 1656936160322, 1..."

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577942 entries, 0 to 577941
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   userId                   577942 non-null  string
 1   userType                 577942 non-null  category
 2   historySize              577942 non-null  UInt16
 3   history                  577942 non-null  string
 4   timestampHistory         577942 non-null  string
 5   numberOfClicksHistory    577942 non-null  string
 6   timeOnPageHistory        577942 non-null  string
 7   scrollPercentageHistory  577942 non-null  string
 8   pageVisitsCountHistory   577942 non-null  string
 9   timestampHistory_new     577942 non-null  string
dtypes: UInt16(1), category(1), string(8)
memory usage: 37.5 MB

In [7]:
df_train.describe()

       historySize
count     577942.0
mean     14.056689
std      46.037793
min            1.0
25%            1.0
50%            2.0
75%            6.0
max         7004.0

In [8]:
cols_to_explode = ["history", "numberOfClicksHistory", "timeOnPageHistory", "scrollPercentageHistory", "pageVisitsCountHistory"]
# cols_to_explode = ["history"]
cols_and_id = cols_to_explode.copy()
cols_and_id.insert(0,"userId")
cols_and_id.append("userType")
cols_and_id = tuple(cols_and_id)
print(cols_and_id)
print(cols_to_explode)

('userId', 'history', 'numberOfClicksHistory', 'timeOnPageHistory', 'scrollPercentageHistory', 'pageVisitsCountHistory', 'userType')
['history', 'numberOfClicksHistory', 'timeOnPageHistory', 'scrollPercentageHistory', 'pageVisitsCountHistory']

In [9]:
df_train.loc[:,cols_and_id]

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,"80aa7bb2-adce-4a55-9711-912c407927a1, d9e5f15d...","0, 0","71998, 115232","81.58, 73.36","1, 1",Non-Logged
1,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,"19ba89fc-1e06-4c5d-9c57-4a3088dc0511, e273dba4...","68, 12","131495, 43733","51.74, 35.49","1, 1",Non-Logged
2,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,"59a61a8a-cc52-453f-b1cd-2bd019e9d574, a0562805...","55, 9","159042, 10336","62.19, 48.28","1, 1",Non-Logged
3,2dd18b58a634a4e77181a202cf152df6169dfb3e4230ef...,"233f8238-2ce0-470f-a9d5-0e0ac530382a, 037155f4...","0, 0","193579, 20519","31.03, 31.9","1, 1",Non-Logged
4,97e1439d485b0630e12818d3df84ff67d08475ef6ebeb0...,"385044ad-3876-4188-83fa-f560435c1a9c, 2f754502...","57, 38","220000, 130000","52.65, 53.37","1, 1",Logged
...,...,...,...,...,...,...,...
577937,2577444c60e7e1894b120b966031b66c08f696101a085f...,"82206221-05a0-4f89-aa10-e8c8dc0cc418, bfb94228...","36, 50, 1, 7","20000, 74626, 10000, 10000","40.53, 45.76, 11.34, 18.25","1, 2, 1, 1",Non-Logged
577938,4325f2bbeed10d10868190e2f66e700621c04b63eebefd...,"34a692f5-46f7-482a-918d-c1094fb314d5, 2bdb2c3c...","28, 1","74694, 7149","12.42, 7.45","6, 1",Non-Logged
577939,0ca60effb4a0f595cf838c95a4d3a417f02bb7edeaf659...,"08126a08-b06e-4dc2-9c70-26922c14f465, ad0b3a0f...","2, 2, 7, 1","54143, 7915, 37776, 18911","33.27, 33.7, 50.1, 14.95","2, 1, 1, 1",Non-Logged
577940,c07adf21d372ebc50752555fdfbc949e164d98d06d094f...,"bc625312-eb34-4f23-a281-499f1da183b4, cee20002...","1, 0, 3, 0, 0, 0, 0, 1, 6, 0, 1, 8, 25, 6","50000, 71013, 160000, 40000, 68795, 20008, 472...","50.45, 50.45, 49.19, 32.09, 14.15, 26.19, 25.6...","1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1",Logged
577941,5889d6ebbf62e6c115e0a280063dc8189cca490cbfea56...,"1f32787b-de2b-49be-8c20-ddaeae34cc22, a36c98b5...","23, 16, 36, 13, 56, 23, 1, 33, 64, 76, 14, 26, 44","140000, 110000, 170000, 66541, 250000, 90000, ...","92.61, 34.37, 53.41, 31.74, 99.36, 84.68, 32.9...","1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1",Non-Logged

In [10]:
from utils.custom_treat_data_funcs import explode_df_columns

exploded_df = explode_df_columns(df_train.loc[:,cols_and_id], cols_to_explode)

In [11]:
exploded_df

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,80aa7bb2-adce-4a55-9711-912c407927a1,0,71998,81.58,1,Non-Logged
1,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,d9e5f15d-b441-4d8b-bee4-462b106d3916,0,115232,73.36,1,Non-Logged
2,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,19ba89fc-1e06-4c5d-9c57-4a3088dc0511,68,131495,51.74,1,Non-Logged
3,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,e273dba4-136c-45fb-bdd6-0cc57b13aaf0,12,43733,35.49,1,Non-Logged
4,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,59a61a8a-cc52-453f-b1cd-2bd019e9d574,55,159042,62.19,1,Non-Logged
...,...,...,...,...,...,...,...
8123946,5889d6ebbf62e6c115e0a280063dc8189cca490cbfea56...,30fbe075-a9fe-4f8c-a58b-3459982b7018,64,300000,89.79,1,Non-Logged
8123947,5889d6ebbf62e6c115e0a280063dc8189cca490cbfea56...,8e0884e2-50ba-44c0-87b9-d64d913288af,76,280000,81.47,1,Non-Logged
8123948,5889d6ebbf62e6c115e0a280063dc8189cca490cbfea56...,855d20b7-53f2-4678-a10f-55402d085018,14,63718,34.45,1,Non-Logged
8123949,5889d6ebbf62e6c115e0a280063dc8189cca490cbfea56...,a47114d6-cac9-45fa-a4b7-987383f4ec29,26,130000,31.26,1,Non-Logged
8123950,5889d6ebbf62e6c115e0a280063dc8189cca490cbfea56...,07b5ae90-4161-4463-945e-41a48fdced21,44,320000,86.59,1,Non-Logged

In [12]:
exploded_df.describe()

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
count,8123951,8123951,8123951,8123951,8123951,8123951,8123951
unique,577942,255603,1395,430449,10468,158,2
top,1b9bf55cf5c0d7ba34e8925dbbc98da17c5ab360d907c5...,d2593c3d-2347-40d9-948c-b6065e8459a9,0,10000,12.5,1,Non-Logged
freq,7004,25075,3099936,471745,259720,7437539,4447302

In [13]:
from utils.custom_treat_data_funcs import check_if_exploded_df_size_is_ok

check_if_exploded_df_size_is_ok(df_train, exploded_df)

True

In [14]:
exploded_df['numberOfClicksHistory'] = exploded_df['numberOfClicksHistory'].astype('int32')
exploded_df['timeOnPageHistory'] = exploded_df['timeOnPageHistory'].astype('int64')
exploded_df['scrollPercentageHistory'] = exploded_df['scrollPercentageHistory'].astype('float32')
exploded_df['pageVisitsCountHistory'] = exploded_df['pageVisitsCountHistory'].astype('int32')

In [15]:
exploded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8123951 entries, 0 to 8123950
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   userId                   string
 1   history                  object
 2   numberOfClicksHistory    int32
 3   timeOnPageHistory        int64
 4   scrollPercentageHistory  float32
 5   pageVisitsCountHistory   int32
 6   userType                 category
dtypes: category(1), float32(1), int32(2), int64(1), object(1), string(1)
memory usage: 286.7+ MB

In [16]:
exploded_df.isnull().sum()

userId                     0
history                    0
numberOfClicksHistory      0
timeOnPageHistory          0
scrollPercentageHistory    0
pageVisitsCountHistory     0
userType                   0
dtype: int64

In [17]:
exploded_df.userId.nunique()

577942

In [18]:
exploded_df.history.nunique()

255603

In [19]:
exploded_df["history"].value_counts().head(100)

history
d2593c3d-2347-40d9-948c-b6065e8459a9    25075
f6b5d170-48b9-4f8e-88d4-c84b6668f3bd    22179
1f32787b-de2b-49be-8c20-ddaeae34cc22    19519
f0a78e58-ec7e-494c-9462-fbd6446a9a89    18361
6a83890a-d9e9-4f6b-a6c6-90d031785bbf    18101
                                        ...
5c37a504-0ed8-49c1-a6a9-d237d90664e3     7874
c309c7aa-b438-416a-b3a2-bd433614c6ab     7865
7594da99-d606-4338-a373-710a7dec776a     7812
3a54bc78-a1f6-4a3c-a1f8-d541597eb6a0     7799
4e73dd4e-0e2b-4a11-8f5b-658619b08027     7765
Name: count, Length: 100, dtype: int64

In [20]:
exploded_df.head()

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,80aa7bb2-adce-4a55-9711-912c407927a1,0,71998,81.580002,1,Non-Logged
1,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,d9e5f15d-b441-4d8b-bee4-462b106d3916,0,115232,73.360001,1,Non-Logged
2,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,19ba89fc-1e06-4c5d-9c57-4a3088dc0511,68,131495,51.740002,1,Non-Logged
3,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,e273dba4-136c-45fb-bdd6-0cc57b13aaf0,12,43733,35.490002,1,Non-Logged
4,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,59a61a8a-cc52-453f-b1cd-2bd019e9d574,55,159042,62.189999,1,Non-Logged

In [21]:
exploded_df.shape

(8123951, 7)

In [22]:
exploded_df.to_csv(config["TREATED_TRAIN_CSV"])