In [49]:
import json

with open('config.json', 'r') as f:
    config = json.load(f)

In [50]:
from utils.custom_treat_data_funcs import read_all_csvs_into_pandas

In [51]:
df_train = read_all_csvs_into_pandas(config["FPATH_TRAIN"])

In [52]:
df_train

,userId,userType,historySize,history,timestampHistory,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,timestampHistory_new
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,Non-Logged,2,"80aa7bb2-adce-4a55-9711-912c407927a1, d9e5f15d...","1657908085200, 1659634203762","0, 0","71998, 115232","81.58, 73.36","1, 1","1657908085200, 1659634203762"
1,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,Non-Logged,2,"19ba89fc-1e06-4c5d-9c57-4a3088dc0511, e273dba4...","1657111508570, 1657481309920","68, 12","131495, 43733","51.74, 35.49","1, 1","1657111508570, 1657481309920"
2,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,Non-Logged,2,"59a61a8a-cc52-453f-b1cd-2bd019e9d574, a0562805...","1657823890328, 1660141444328","55, 9","159042, 10336","62.19, 48.28","1, 1","1657823890328, 1660141444328"
3,2dd18b58a634a4e77181a202cf152df6169dfb3e4230ef...,Non-Logged,2,"233f8238-2ce0-470f-a9d5-0e0ac530382a, 037155f4...","1656963373076, 1657091888917","0, 0","193579, 20519","31.03, 31.9","1, 1","1656963373076, 1657091888917"
4,97e1439d485b0630e12818d3df84ff67d08475ef6ebeb0...,Logged,2,"385044ad-3876-4188-83fa-f560435c1a9c, 2f754502...","1657618607633, 1659536839832","57, 38","220000, 130000","52.65, 53.37","1, 1","1657618607633, 1659536839832"
...,...,...,...,...,...,...,...,...,...,...
30010,8122ca5035f956232eeb4a113b3ebee418143788dd6363...,Non-Logged,2,"fcc5889d-e76c-4c03-a1cf-f8cfc32d9cd3, 07b124c1...","1659306150568, 1659306765601","1, 8","88120, 70000","47.04, 57.84","1, 1","1659306150568, 1659306765601"
30011,23c2612213d8d0d0dc32ad0d9de1190221f3dbbbd4b325...,Non-Logged,2,"fb0938f6-52bb-49a6-997f-29e0d91c5e9c, 1ee0f486...","1658367235999, 1660489190183","0, 1","20000, 120000","4.98, 70.04","1, 1","1658367235999, 1660489190183"
30012,6bbe42bc342683a203533173cc5b764196a6647d91b619...,Logged,2,"d8e96969-c9d9-4c28-a9a8-403abc1e784a, f932eaf7...","1657494485763, 1660072571832","0, 1","40000, 84246","18.69, 55.06","1, 1","1657494485763, 1660072571832"
30013,934f029d08ac7cb8883c04e6d5e7f6b3f9bdda491d5225...,Non-Logged,2,"fbbd2472-9ee2-4d84-9211-deb431ba8a75, 7c08153b...","1658495162454, 1659550908263","0, 0","81573, 73388","51.07, 67.88","1, 1","1658495162454, 1659550908263"
30014,695970175ff28276d256f7474a916b33da0964cbdfb2d7...,Non-Logged,2,"c6416d03-5045-4d6c-bc70-e134f91d99a8, 225b0c0a...","1659692462057, 1659692626630","23, 4","60000, 8211","70.2, 35.43","1, 1","1659692462057, 1659692626630"

In [53]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30015 entries, 0 to 30014
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   userId                   30015 non-null  object
 1   userType                 30015 non-null  object
 2   historySize              30015 non-null  int64
 3   history                  30015 non-null  object
 4   timestampHistory         30015 non-null  object
 5   numberOfClicksHistory    30015 non-null  object
 6   timeOnPageHistory        30015 non-null  object
 7   scrollPercentageHistory  30015 non-null  object
 8   pageVisitsCountHistory   30015 non-null  object
 9   timestampHistory_new     30015 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.3+ MB

In [54]:
df_train.describe()

        historySize
count  30015.000000
mean      14.271564
std       43.638953
min        1.000000
25%        1.000000
50%        2.000000
75%        6.000000
max     1444.000000

In [55]:
df_items = read_all_csvs_into_pandas(config["FPATH_ITEMS"])

In [56]:
df_items.describe()

,page,url,issued,modified,title,body,caption
count,13809,13809,13809,13809,13809,13809,13809
unique,13809,13809,13805,13803,13804,13809,13723
top,505ad718-bb1a-4cbf-a020-d5f7a4ab335f,http://g1.globo.com/rn/rio-grande-do-norte/not...,2018-10-08 20:30:23+00:00,2021-01-01 04:43:29+00:00,"Empresas abrem vagas de emprego, estágio e tra...","Isolda do Nascimento, de 56 anos, foi encontra...",Veja como obter informações das empresas citad...
freq,1,1,2,2,2,1,11

In [57]:
cols_to_explode = ["history", "numberOfClicksHistory", "timeOnPageHistory", "scrollPercentageHistory", "pageVisitsCountHistory"]
# cols_to_explode = ["history"]
cols_and_id = cols_to_explode.copy()
cols_and_id.insert(0,"userId")
cols_and_id.append("userType")
cols_and_id = tuple(cols_and_id)
print(cols_and_id)
print(cols_to_explode)

('userId', 'history', 'numberOfClicksHistory', 'timeOnPageHistory', 'scrollPercentageHistory', 'pageVisitsCountHistory', 'userType')
['history', 'numberOfClicksHistory', 'timeOnPageHistory', 'scrollPercentageHistory', 'pageVisitsCountHistory']

In [58]:
df_train.loc[:,cols_and_id]

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,"80aa7bb2-adce-4a55-9711-912c407927a1, d9e5f15d...","0, 0","71998, 115232","81.58, 73.36","1, 1",Non-Logged
1,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,"19ba89fc-1e06-4c5d-9c57-4a3088dc0511, e273dba4...","68, 12","131495, 43733","51.74, 35.49","1, 1",Non-Logged
2,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,"59a61a8a-cc52-453f-b1cd-2bd019e9d574, a0562805...","55, 9","159042, 10336","62.19, 48.28","1, 1",Non-Logged
3,2dd18b58a634a4e77181a202cf152df6169dfb3e4230ef...,"233f8238-2ce0-470f-a9d5-0e0ac530382a, 037155f4...","0, 0","193579, 20519","31.03, 31.9","1, 1",Non-Logged
4,97e1439d485b0630e12818d3df84ff67d08475ef6ebeb0...,"385044ad-3876-4188-83fa-f560435c1a9c, 2f754502...","57, 38","220000, 130000","52.65, 53.37","1, 1",Logged
...,...,...,...,...,...,...,...
30010,8122ca5035f956232eeb4a113b3ebee418143788dd6363...,"fcc5889d-e76c-4c03-a1cf-f8cfc32d9cd3, 07b124c1...","1, 8","88120, 70000","47.04, 57.84","1, 1",Non-Logged
30011,23c2612213d8d0d0dc32ad0d9de1190221f3dbbbd4b325...,"fb0938f6-52bb-49a6-997f-29e0d91c5e9c, 1ee0f486...","0, 1","20000, 120000","4.98, 70.04","1, 1",Non-Logged
30012,6bbe42bc342683a203533173cc5b764196a6647d91b619...,"d8e96969-c9d9-4c28-a9a8-403abc1e784a, f932eaf7...","0, 1","40000, 84246","18.69, 55.06","1, 1",Logged
30013,934f029d08ac7cb8883c04e6d5e7f6b3f9bdda491d5225...,"fbbd2472-9ee2-4d84-9211-deb431ba8a75, 7c08153b...","0, 0","81573, 73388","51.07, 67.88","1, 1",Non-Logged
30014,695970175ff28276d256f7474a916b33da0964cbdfb2d7...,"c6416d03-5045-4d6c-bc70-e134f91d99a8, 225b0c0a...","23, 4","60000, 8211","70.2, 35.43","1, 1",Non-Logged

In [59]:
from utils.custom_treat_data_funcs import explode_df_columns

exploded_df = explode_df_columns(df_train.loc[:,cols_and_id], cols_to_explode)

In [60]:
exploded_df

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,80aa7bb2-adce-4a55-9711-912c407927a1,0,71998,81.58,1,Non-Logged
1,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,d9e5f15d-b441-4d8b-bee4-462b106d3916,0,115232,73.36,1,Non-Logged
2,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,19ba89fc-1e06-4c5d-9c57-4a3088dc0511,68,131495,51.74,1,Non-Logged
3,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,e273dba4-136c-45fb-bdd6-0cc57b13aaf0,12,43733,35.49,1,Non-Logged
4,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,59a61a8a-cc52-453f-b1cd-2bd019e9d574,55,159042,62.19,1,Non-Logged
...,...,...,...,...,...,...,...
428356,6bbe42bc342683a203533173cc5b764196a6647d91b619...,f932eaf7-d587-4461-a511-dddb26d5b0ed,1,84246,55.06,1,Logged
428357,934f029d08ac7cb8883c04e6d5e7f6b3f9bdda491d5225...,fbbd2472-9ee2-4d84-9211-deb431ba8a75,0,81573,51.07,1,Non-Logged
428358,934f029d08ac7cb8883c04e6d5e7f6b3f9bdda491d5225...,7c08153b-075b-4bed-a8b3-0f6b52ab4a92,0,73388,67.88,1,Non-Logged
428359,695970175ff28276d256f7474a916b33da0964cbdfb2d7...,c6416d03-5045-4d6c-bc70-e134f91d99a8,23,60000,70.2,1,Non-Logged
428360,695970175ff28276d256f7474a916b33da0964cbdfb2d7...,225b0c0a-f72c-4a33-9ce7-88500fb4c786,4,8211,35.43,1,Non-Logged

In [61]:
exploded_df.describe()

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
count,428361,428361,428361,428361,428361,428361,428361
unique,30015,56683,492,147913,9885,83,2
top,18487399f7018df56613e392acfe962153618e4d2db576...,d2593c3d-2347-40d9-948c-b6065e8459a9,0,10000,12.5,1,Non-Logged
freq,1444,1331,166667,23998,12662,391699,236116

In [62]:
from utils.custom_treat_data_funcs import check_if_exploded_df_size_is_ok

check_if_exploded_df_size_is_ok(df_train, exploded_df)

True

In [63]:
exploded_df['numberOfClicksHistory'] = exploded_df['numberOfClicksHistory'].astype('int32')
exploded_df['timeOnPageHistory'] = exploded_df['timeOnPageHistory'].astype('int64')
exploded_df['scrollPercentageHistory'] = exploded_df['scrollPercentageHistory'].astype('float32')
exploded_df['pageVisitsCountHistory'] = exploded_df['pageVisitsCountHistory'].astype('int32')

In [64]:
exploded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428361 entries, 0 to 428360
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   userId                   428361 non-null  object
 1   history                  428361 non-null  object
 2   numberOfClicksHistory    428361 non-null  int32
 3   timeOnPageHistory        428361 non-null  int64
 4   scrollPercentageHistory  428361 non-null  float32
 5   pageVisitsCountHistory   428361 non-null  int32
 6   userType                 428361 non-null  object
dtypes: float32(1), int32(2), int64(1), object(3)
memory usage: 18.0+ MB

In [65]:
exploded_df.isnull().sum()

userId                     0
history                    0
numberOfClicksHistory      0
timeOnPageHistory          0
scrollPercentageHistory    0
pageVisitsCountHistory     0
userType                   0
dtype: int64

In [66]:
exploded_df.userId.nunique()

30015

In [67]:
exploded_df.history.nunique()

56683

In [68]:
exploded_df["history"].value_counts().head(100)

history
d2593c3d-2347-40d9-948c-b6065e8459a9    1331
f6b5d170-48b9-4f8e-88d4-c84b6668f3bd    1148
1f32787b-de2b-49be-8c20-ddaeae34cc22    1019
6a83890a-d9e9-4f6b-a6c6-90d031785bbf    1017
f0a78e58-ec7e-494c-9462-fbd6446a9a89     960
                                        ...
a8f0cda0-6c9c-45f6-b72a-3c20ba9624ea     415
3936f6c7-3f6c-4205-8cda-3178160b6cd4     415
8956c97a-6d85-4d4b-a6f7-6d42c6be97cc     414
b4a5680b-d0e1-4260-bc54-82fbe328d3a0     412
e22473a3-7a8a-46cb-8c86-1bda7a5c70de     412
Name: count, Length: 100, dtype: int64

In [69]:
exploded_df.head()

,userId,history,numberOfClicksHistory,timeOnPageHistory,scrollPercentageHistory,pageVisitsCountHistory,userType
0,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,80aa7bb2-adce-4a55-9711-912c407927a1,0,71998,81.580002,1,Non-Logged
1,fbb963d61eb8149e7f43b1bd905457ba5e106a830ddc27...,d9e5f15d-b441-4d8b-bee4-462b106d3916,0,115232,73.360001,1,Non-Logged
2,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,19ba89fc-1e06-4c5d-9c57-4a3088dc0511,68,131495,51.740002,1,Non-Logged
3,17f1083e6079b0f28f7820a6803583d1c1b405c0718b11...,e273dba4-136c-45fb-bdd6-0cc57b13aaf0,12,43733,35.490002,1,Non-Logged
4,528a8d7a2af73101da8d6709c1ec875b449a5a58749a99...,59a61a8a-cc52-453f-b1cd-2bd019e9d574,55,159042,62.189999,1,Non-Logged

In [70]:
exploded_df.shape

(428361, 7)

In [71]:
exploded_df.to_csv(config["TREATED_TRAIN_CSV"])

In [72]:
df_items.to_csv(config["TREATED_ITEMS_CSV"])